
        body{
            font-family: Arial;
            font-size: 13px;
            height: 100%;
            
        }
        .toolbar {
            display: flex;
            height:70px;
            width: minmax(1000px, 100%);            
            align-items: center;
        }

        img {
        margin: auto;
        align-self: center;
        }
        .tsub1 {
            display: flex;
            width: 50%;
            height: 50%;
            justify-content: flex-start;
        }
        .tsub2 {
            display: flex;
            width: 50%;
            height: 50%;
            justify-content: flex-end;
            align-items: center;
            
        }
       
        .tbutton {
            display: inline-block;
            width: 60px;
            color: grey;
            text-align: center;            

        }
        a{
            color: inherit;
            text-decoration: none;
        }
        .fancy{
            text-decoration: underline blue

        }
        .gblock {
            
            background-image: url(https://image.flaticon.com/icons/svg/60/60991.svg); 
            width: 40px;
            height: 40px;
            background-size: 18px 18px;
            background-repeat: no-repeat;
            background-position: center;
            padding-right: 15px
            
        }
        .si{
            background-color: rgb(38, 132, 255);
            width: 80px;
            height: 30px;
            text-align: center;
            padding-top: 10px;
            color: white;
        }

        .grey {
            display: block;
            color:grey;
            min-width: 165px;
            padding-left: 30px;
            padding-right: 30px;
            position: relative;
            
        }
        .search-area{
            display: flex;
            width: auto;
            flex-direction: row;
            justify-content: center;
            height: 40px;

        }
        .search-border{
            border: solid lightgray 1px;
            width: 600px;
            display:flex;
            justify-content: center;
            padding-top: .75em;
            border-radius:5em;
        }

        .search {
            text-align: center;
            flex-grow: 1;
        }

        #header {
            display:flex;
            text-align: center;
            height: auto;
            padding-top:100px;
            width: 100%;
            flex-direction: column;
            
        }
        input {
            width: 100%;
            border-color: transparent;
            border: none;
        }
        .search-but-area { 
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;

        }
        .lil-image {
            padding: 0 2.5% 0 2.5%;
            width:20px;
            height: 20px;
        }
        .search-but {
            width: 120px;
            height: 20px;
            margin: 11px 4px;
            text-align:center;
            background-color: rgb(236, 236, 236);
            border-radius: 4px;
            padding-top:5%;
        }
        p{
            text-align: center;
        }
        .footer{
            display: flex;
            padding-top: 20%;
            flex-direction: column;
            align-content: flex-end;
            bottom: 0%;
            position: fixed;
            width: 100%;
            margin: 0;
            height: 75px;
            left: -1px;
        }
        .Canada{
            background-color: rgb(240, 240, 240);
            height: 50%;
            display: flex;
            justify-content: flex-start;
            padding-left: 1%;
            border:rgb(221, 221, 221) solid 1px;
        }
        .bottom{
            padding-left: 1%;
            padding-right: 1%;
            display: flex;
            background-color:  rgb(240, 240, 240);
            flex-direction: row;
            justify-content: space-between;
            height: 50%;
            width: 98%;           
        }
        .bottom-left{
            display: flex;
            flex-direction: row;
 
        }
        .bottom-right{
            display: flex;
            flex-direction: row;
            align-content: flex-end;

        }
        .footer-but{
            width:auto;
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
            color: rgb(110, 110, 110);
            font-size: 14px;
            padding-top: 10px;

        }